<p>Olá, <%= @user.name %>.</p>
<p>Seja bem vindo ao Tulupa</p>
<p>Sua escola de bolso.</p>
<p>Aqui você poderá assistir aulas dos melhores professores das melhores universidades do mundo.</p>
<p>Esperamos que goste.</p>
<div>
	<img src="http://tulupa.s3.amazonaws.com/home/logo_main.png">
	<p>Tulupa</p>
</div>