<p>Olá <%= @resource.name %>!</p>

<p>Para cadastrar uma senha nova para o email <%@resource.name%>, clique no link abaixo:</p>

<% if Rails.env == 'development' %>
  <p><%= link_to 'Criar nova senha',  'http://localhost:9000/#/user/password/reset/' + @token %></p>
<% end %>

<% if Rails.env == 'production' %>
  <p><%= link_to 'Criar nova senha',  'http://tulupa.com.br/#/user/password/reset/' + @token %></p>
<% end %>

<p>Se você não fez esta requisição, ignore este e-mail.</p>
<p>Sua senha não será alterada até que você clique no link acima, e crie uma nova.</p>

<div>
	<img src="http://tulupa.s3.amazonaws.com/home/logo_main.png">
	<p>Tulupa</p>
</div>
